*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EEE;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1000px;
    background-color: #E4F9F5;
    margin: 0 auto;
    padding: 20px;
}
.image{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
}
.bio{
    float: left;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6{
    color: #11999e;
}
.contact{
    float: right;
}

.contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;

}
.contact a:hover{
    text-decoration:underline;
    color:tomato;

}

.div-clear{
    clear: both;
}
hr{
    border:solid black 3px;
    width:100%;
    margin:20px auto;
    border-bottom: none;
}


/* main part start */

#personsl-section{

}
.contant{
    margin-bottom: 30px;

}
.left-div{
    width:30%;
    float: left;

}
.right-div{
    width: 70%;
    float: left;
}
.common-hr{
    border:  solid black 1px;
    border-bottom: none;
    width: 100;
    margin: 20px auto;
}
/* work experience */
#work-section{

}

.ed-left{
    float: left;
    width: 45%;
}

.ed-right{
    float: right;
    width: 45%;
}

.jasim-contaner{
    background-color: black;
    text-align: center;
    padding: 10px;
}
.jasim-contaner a{
    text-decoration: none;
    color: white;
    margin: 20px;
}

.jasim-contaner p{
    color: white;
    margin-top: 20px;
}

